commands:
  01_download_phantomjs:
    command: wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
  02_create_phantomjs_directory:
    command: sudo mkdir -p /opt/phantomjs
  03_unbzip2_phantomjs:
    command: bzip2 -df phantomjs-2.1.1-linux-x86_64.tar.bz2
  04_untar_phantomjs:
    command: sudo tar -xvf phantomjs-2.1.1-linux-x86_64.tar --directory /opt/phantomjs/ --strip-components 1
  05_symlink_phantomjs:
    command: sudo ln -fs /opt/phantomjs/bin/+phantomjs /usr/bin/phantomjs